{% extends "template.html.twig" %}

{% block title %}Ajouter un article - Brian Didierjean{% endblock %}

{% block content %}
<!-- Add Blog Post Section-->
	<section class="page-section mt-4" id="add-blog-post">
		<div
			class="container mt-5">
			<!-- Add Blog Post Section Heading-->
			<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ajouter un article</h2>
			<!-- Icon Divider-->
			<div class="divider-custom">
				<div class="divider-custom-line"></div>
				<div class="divider-custom-icon">
					<i class="fas fa-star"></i>
				</div>
				<div class="divider-custom-line"></div>
			</div>
			<!-- Add Blog Post Section Form-->
			<div class="row">
				<div
					class="col-lg-8 mx-auto">
					<form method="post" action="/add-blog-post">
          {{ form | raw }}
						<br/>
						<div id="success"></div>
						<div class="form-group">
							<button class="btn btn-primary btn-xl" type="submit">Ajouter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}