<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="noindex">
		<title>{% block title %}{% endblock %}</title>
		<!-- Favicon-->
		<link rel="icon" type="image/x-icon" href="./assets/favicon.ico"/>
		<!-- Font Awesome icons (free version)-->
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
		<!-- Core theme CSS (includes Bootstrap)-->
    <link href="./css/styles.css" rel="stylesheet"/>
    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	</head>

	<body id="page-top">
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
			<div class="container">
				<button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded mx-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					Menu
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item mx-0 mx-lg-1 text-center">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Accueil</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1 text-center">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/blog">Blog</a>
						</li>
					</ul>
          <ul class="navbar-nav">
          {% if isSignedIn == false %}
            <li class="nav-item mx-0 mx-lg-1 my-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger btn btn-primary font-weight-bold" href="/sign-in">Connexion</a>
						</li>
            <li class="nav-item mx-0 mx-lg-1 my-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger btn btn-primary font-weight-bold" href="/sign-up">Inscription</a>
						</li>
            {% endif %}
            {% if isSignedIn == true %}
              <li class="nav-item mx-0 mx-lg-1 my-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger btn btn-primary font-weight-bold" href="/change-password">Modifier le mot de passe</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1 my-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger btn btn-primary font-weight-bold" href="/sign-out">Déconnexion</a>
              </li>
            {% endif %}
          </ul>
				</div>
			</div>
		</nav>

    {% block content %}{% endblock %}

		<!-- Footer-->
		<footer class="footer text-center">
			<div class="container">
        <!-- Footer Social Icons-->
				<div class="row">
					<div class="col-12">
						<h4 class="text-uppercase mb-4">Retrouvez-moi sur :</h4>
						<a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/BrianDidierjean">
							<i class="fab fa-fw fa-twitter"></i>
						</a>
						<a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/briandidierjean">
							<i class="fab fa-fw fa-linkedin-in"></i>
						</a>
						<a class="btn btn-outline-light btn-social mx-1" href="https://github.com/briandidierjean">
							<i class="fab fa-fw fa-github"></i>
						</a>
					</div>
				</div>
        <!-- Administration Panel Link -->
        <div class="row mt-5">
          <div class="col-12">
            <p><a href="/admin">Administration</a></p>
          </div>
        </div>
			</div>
		</footer>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="./js/scripts.js"></script>
    <script>
      tinymce.init({
        selector: '.tinymce'
      });
    </script>
	</body>
</html>
