{% extends "template.html.twig" %}

{% block title %}404 Error - Brian Didierjean{% endblock %}

{% block content %}
  <!-- Masthead-->
	<header class="masthead bg-primary text-white text-center">
		<div
			class="container d-flex align-items-center flex-column justify-content-center">
      <!-- Masthead Heading-->
			<h1 class="masthead-heading text-uppercase my-3">404 Error</h1>
      <!-- Masthead Subheading-->
			<h2 class="masthead-subheading my-3">La page demandé n'existe pas.<h2>
		</div>
	</header>
{% endblock %}
